<div class="statistics">
  <h2 class="text-center">Statistics</h2>
  <div class="row">
    <div class="col-md-6 text-right">Attaque</div>
    <div class="col-md-6">{{ userStat.stat.atk }}</div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">Defense</div>
    <div class="col-md-6">{{ userStat.stat.def }}</div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">Taux critique</div>
    <div class="col-md-6 ">{{ userStat.stat.tauxCrit }}</div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">Degats critiques</div>
    <div class="col-md-6">{{ userStat.stat.degCtrit }}</div>
  </div>
  <div class="row">
    <div class="col-md-6 text-right">PV</div>
    <div class="col-md-6">{{ userStat.stat.pv }}</div>
  </div>
</div>
