.login {
  width: 600px;
  height: 600px;
  background-color: rgba($color: #fff, $alpha:0.1);
  border: 1px solid rgba($color: #fff, $alpha:0.15);
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -300px;

  form {
    padding-top:200px;
    width:400px;
    margin: 0 auto;
  }

  button, a.button {
    width: 200px;
    font-size:14px;
    line-height:40px;
    height:40px;
    text-align: center;
    padding: 0px 30px;
    border:none;
    transition:  all 0.2s;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin: auto auto;
    display:block;

    &[type=submit] {
      background-color: #08A9C7;
      color: #020320;

      &:hover {
        background: darken($color: #08A9C7, $amount: 10);
      }
    }

    &.signup {
      background-color: #8255d6;
      color: #020320;
    }
  }

  a {
    color: #FFF;
  }

  .form-control {
    &.has-error {
      -webkit-box-shadow : 0 0 1px 1px #ff0808;
      box-shadow: 0 0 1px 1px #ff0808;
    }

    &.has-error app-form-control-error {
      display: block;
      color:  #ff0808;
    }
  }
}
