<div class="login">
  <form [formGroup]="connectionForm" (ngSubmit)="submit()">
    <div class="form-group" [class.has-error]="email && email.errors && email.touched">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email" formControlName="email">
      <app-form-control-error [control]="email"></app-form-control-error>
    </div>

    <div class="form-group" [class.has-error]="password && password.errors && password.touched">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" name="password" id="password" formControlName="password">
      <app-form-control-error [control]="password"></app-form-control-error>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="connectionForm.status === 'INVALID'">
        Connexion
      </button>
    </div>
  </form>

  <a routerLink="/user/signup" class="button signup">
    Inscription
  </a>
</div>
