<nav class="header">
  <div class="row">
    <div class="col-md-2"><h1>Level up</h1></div>
    <div class="col-md-4">
      <ul>
        <li><a routerLinkActive="active" routerLink="/app">Aventure</a></li>
        <li><a routerLinkActive="active" routerLink="/app/settings">Paramètres</a></li>
    </ul>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-8">
          <div class="username">{{ user?.username }}</div>
          <div class="experience">
            <div class="xp" [style]="'width :'+ currentPercentile +'%'"></div>
          </div>
          <div class="nextlevel">{{ currentPercentile }} %,
            <span class="info">
              Prochain niveau dans {{nextLevel}} points
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/assets/img/avatar2.jpg" class="avatar">
        </div>
      </div>

    </div>
  </div>

</nav>
